.nav {
    background-color: rgba(152, 181, 180, 0.833);
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.bot{
    font-size: 15px;
    font-weight: 600;
}
