.paginado{
    background-color: rgba(152, 181, 180, 0.833);
    height: 28px;
    width: 50%;
    position: absolute;
    bottom: 15px;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.ulul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.lili{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


