.cards{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.titulo{
    font-weight: 800;
}
